html, body{
    padding: 0px;
    background: grey;
}

.header{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24c6d3;
    color: #ffffff;
}
.header h3{
    text-align: center;
    width: 100%;
}
.footer{
    position: fixed;
    bottom: 0px;
    padding: 0px;
    width: 100%;
    background-color: #ffffff;
}
.footer .order_footer{
    border: none;
}

#content{
    padding: 0px;
    margin: 0px auto;
}
#container{
    display: none;
    position: fixed;
    background-color: #ffffff;
}

.has-feedback input{
    width: 100%;
    border-radius: 20px;
    padding-left: 20px;
}
.btn-right{
    display: none;
    position: fixed;
    opacity: 0.9;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#btn-follow:active{
    position: fixed;
    opacity: 0.9;
    width: 60px;
    height: 60px;
}

#btn-help{
    background: url('../resource/image/home_help.png') no-repeat;
    background-size: contain;
}

#btn-follow{
    background: url('../resource/image/home_follow.png') no-repeat;
    background-size: contain;
}
#btn-follow:active{
    background: url('../resource/image/home_follow.png') no-repeat;
    background-size: contain;
}
#btn-order{
    background: url('../resource/image/home_order.png') no-repeat;
    background-size: contain;
}

#btn-scenic{
    background: url('../resource/image/home_scenic.png') no-repeat;
    background-size: contain;
}

#btn-automatic{
    background: url('../resource/image/home_automatic_on.png') no-repeat;
    background-size: contain;
}

#btn-commentary{
    background: url('../resource/image/home_commentary_on.png') no-repeat;
    background-size: contain;
}

#btn-position{
    background: url('../resource/image/home_position_on.png') no-repeat;
    background-size: contain;
}

.custom-modal{
    margin: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.modal-header button{
    position: absolute;
    right: 5px;
    top: 5px;
}

#login-dialog{
    margin: auto;
    margin-top: 30%;
    width: 260px;
}

#login-dialog .modal-footer{
    background: #ffffff;
    padding: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}
.modal-header div{
    position: absolute;
    top: 5%;
    left: 32%;
    color: white;
}
.modal-header div img{
    width: 27%;
    height: 27%;
    background-color: #ffffff;
    border-radius: 50%;
}
#phone_verify_dialog, #code_auth_dialog{
    margin: auto;
    margin-top: 50%;
    width: 260px;
}

#buy_course_dialog{
    margin: auto;
    margin-top: 45%;
    width: 260px;
}
#buy_course_dialog .modal-content{
    height: 100%;
    border: 1px solid #90d4e7;
}
#buy_course_title{
    padding: 5px;
    margin: 0px;
    color: #ffffff;
    background-color: #90d4e7
}
#buy_course_title h5{
    font-weight: bold;
    padding-left: 20px
}

.btn-course{
    margin: 10px 25px;
    border-radius: 20px;
}
.course_column{
    margin: 10px;
    height: 30px;
    border-bottom: 1px solid;
    border-bottom-color: #f6f6f6;
    padding: 0px 5px;
    cursor: pointer;
}

#confirm_verify{
    margin: 5px 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #90d4e7;
    color: white;
}

#phone_verify_content #btn_sendSMS{
    float: left;
    margin-left: 12px;
    padding: 5px;
    border-radius: 5px;
    height: 35px;
    width: auto;
}

#phone_verify_content div{
    height: 50px;
}
#phone_verify_content div h4{
    float:left;
    padding: 0px 5px;
}
#phone_verify_content input{
    float: left;
    margin-left: 10px;
}

#menu-detail-dialog{
    position: fixed;
    margin: 0px;
    height: 31%;
    opacity: 0.95;
}

#help-dialog{
    margin: 0px;
    left: 5%;
    margin-top: 25%;
    width: 90%;
    height: 70%;
}

.text-button{
    background-color: #c8eaf3;
    color: grey;
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.text-button:active{
    background-color: #24c6d3;
    color: white;
    cursor: pointer;
}

.menu-item{
    float: left;
    width: 25%;
    padding: 0px;
    margin-top: 3px;
    text-align: center;
    font-size: 10pt;
    cursor: pointer;
}

.menu-image{
    width: 17px;
    height: 17px;
}
.menu-item h5{
    font-size: 10px;
    margin: 4px 0px;
}

.attraction_item{
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

#tourismlist-header{
    padding: 8px;
    padding-left: 20px;
    border-bottom: solid #f6f6f6 5px;
}
.tourismlist_item{
    padding: 5px;
    padding-left: 20px;
    height: 50px;
    border-bottom: solid #f6f6f6 2px;
    cursor: pointer;
}
.tourismlist_item div{
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 7px;
    border-radius: 15px;
    text-shadow: grey 2px 1px;
}

#search_scenic{
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.scenic_item{
    margin: 1px;
    padding: 15px;
    padding-left: 20px;
    background-color: #ffffff;
    height: 60px;
    cursor: pointer;
}

.tab-pane{
    overflow-y: auto;
    height: 100%;
    background-color: #f6f6f6;
}

.order{
    padding: 0px 5%;
    margin: 4px 0px;
    background-color: #ffffff;
}

.order_using .order_state, .order_unpaid .order_state{
    color: red;
}

.order_cancelled .order_state, .order_expired .order_state{
    color: grey;
}

.order .order_header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    border-bottom-color: #e6e6e6;
}

.order_state, .order_header .order_state{
    float: right;
}
.order_header h5{
    float: left;
}

.order_body{
    padding: 10px 0px;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.order_body img{
    float: left;
    width: 70px;
    height: 70px;
}
.order_body div{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.order_body .scenic_content h5{
    margin: 2px 0px;
}

.order_detail{
    padding: 10px 5%;
    margin: 7px 0px;
    background-color: #ffffff;
}

.order_footer{
    width: 100%;
    height: 40px;
    border-top: 1px solid;
    border-top-color: #e6e6e6;
}
.order_footer div{
    float: right;
    margin-top: 5px;
    margin-left: 20px;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #24c6d3;
    background-color: #ffffff;
    color: #24c6d3;
    cursor: pointer;
}
.order_footer div:active{
    float: right;
    margin-top: 5px;
    margin-left: 20px;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #24c6d3;
    background-color: #24c6d3;
    color: #ffffff;
    cursor: pointer;
}

.order_footer div h5{
    margin: 2px;
}

.btn-custom{
    text-align: center;
    border: 1px solid;
    border-color: #90d4e7;
    background-color: #ffffff;
    color: #90d4e7;
    cursor: pointer;
}
.btn-custom:active{
    text-align: center;
    border: 1px solid;
    border-color: #90d4e7;
    background-color: #90d4e7;
    color: #ffffff;
    cursor: pointer;
}
.btn-custom>h5{
   margin: 5px 0px;
}
.form-control::-webkit-input-placeholder{
    color: #90d4e7;
}

#notification{
    display: none;
    position: relative;
    z-index: 10;
    bottom: -35px;
    margin: auto;
    width: 200px;
    height: 20px;
    text-align: center;
    background-color: grey;
    border-radius: 7px;
    animation-name: notification_animation;
    animation-duration: 3.1s;
}

@keyframes notification_animation {
    0% {opacity: 0;}
    10% {opacity: 0.5;}
    40% {opacity: 0.75;}
    50% {opacity: 1;}
    60% {opacity: 0.75;}
    90% {opacity: 0.5;}
    100% {opacity: 0;}
}

.amap-controls div{
    left:10px;
}
.amap-touch-toolbar .amap-zoomcontrol{
    border-color: #24c6d3;
    border-radius: 7px;
    bottom: -100px;
    left: 0px;
}
.amap-copyright{
    display: none!important;
}
.amap-logo{
    display: none!important;
}

.info {
    border: solid 1px silver;
}
div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
    padding-right: 30px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size: 12px;
    padding: 6px;
    line-height: 10px;
}
div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img {
    position: relative;
    z-index: 104;
}
.info-middle img {
    float: left;
    margin-right: 6px;
}
.info-button{
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: #00a65a;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    text-align: center;
}

#login #btn-close{
    width: 10%;
    position: absolute;
    top: 45px;
    right: -10px;
}
#btn_online_pay{
    color: white;
    background-color: #24c6d3;
}

#btn_ok{
    float: left;
    margin: 0px 10px;
    padding: 0px 30px;
    border-radius: 20px;
    color: white;
    background-color: #90d4e7;
    border-color: #90d4e7;
}
#btn_cancel{
    float: left;
    margin: 0px 10px;
    padding: 0px 30px;
    border-radius: 20px;
    color: black;
    background-color: #ddf1f8;
    border-color: #ddf1f8;
}
#loading{ display: none;}

.amap-touch-toolbar .amap-zoomcontrol:after{
    top: 34px;
}
.amap-zoom-touch-minus, .amap-zoom-touch-plus{
    height: 29px;
}
.amap-zoom-touch-minus>div, .amap-zoom-touch-plus>div{
    font-size: 20px;
    line-height: 30px;
    color: #24c6d3;
}
