<!DOCTYPE html>
<html>
<head lang="en">
    <title>A游不错</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/tourismcourse.js"></script>
</head>

<body>
    <div id="content">
        <div class="header" id="app_header">
            <h3 style="text-align: center">
                <a href="javascript: back()" style="float: left; position: fixed;left: 10px; top: 0px">
                    <img src="../image/left_arrow.png" id="back_img">
                </a>
                旅游线路
            </h3>
        </div>
        <div id="container">
            <div id="tourismlist-header">
                <h4>旅游线路 (共1条线路)</h4>
            </div>
            <div id="tourismlist-body">
                <!--
                <div class="tourismlist_item">
                    <div  style="background-color: green; float: left">1</div>
                    <h4 style="float: left; padding-left:10px;">旅游名称</h4>
                    <img src="../image/more.png" style="float:right; padding:10px">
                </div>
                -->
            </div>
        </div>
    </div>
    <!-- dialog buying the tourism course-->
    <div class="modal custom-modal" id="buy_course">
        <div class="modal-dialog" id="buy_course_dialog">
            <div class="modal-content">
                <div class="modal-header" id="buy_course_title">
                    <button class="close" onclick="buy_course_dialog_close()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5>故宫－圆明园－颐和园</h5>
                </div>
                <div class="modal-body" id="buy_course_content" style="overflow-y: scroll; height: 80%">
                    <div class="course_column"><h5>景区 1 : 故宫 (10个景点)</h5></div>
                    <div class="course_column"><h5>景区 2 : 圆明园 (10个景点)</h5></div>
                    <div class="course_column"><h5>景区 3 : 颐和园 (10个景点)</h5></div>
                    <div class="btn-custom btn-course"><h5>支付100元，解锁线路</h5></div>
                    <div class="btn-custom btn-course"><h5>输入授权码</h5></div>
                </div>
                <div class="modal-footer" style="padding: 0px; border: none">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>

<script type="text/javascript">
    function buy_course_dialog_close(){
        $('#buy_course').hide();
    }
</script>